

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* global */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(253, 244, 239);
}

*::selection {
    background: rgb(55, 55, 95);
    color: rgb(255, 242, 235);
}

li {
    list-style: none;
}

a, 
button {
    text-decoration: none;
    font-weight: 100;
    font-style: inherit;
    border: none;
    color: inherit;
    background: inherit;
    cursor: pointer;
    font-family: inherit;
}

body {
    height: 100vh;
    display: flex;
}

/* typography */
h2 {
    font-size: 3rem;
    color: rgb(30, 30, 63);
}

h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

/* navigation */
nav {
    background: rgb(55, 55, 95);
    color: rgb(255, 242, 235);
    font-size: 2rem;
}

nav a {
    display: block;
    font-size: 2.5rem;
}

nav a:focus, 
nav button:focus {
    border: 1px solid rgb(255, 242, 235);
    outline: none;
    border-left: none;
    border-right: none;
}

nav a:hover, 
nav button:hover {
    color: rgb(255, 175, 175);
    /* text-decoration: underline; */
}

.desktopNav {
    height: 100%;
    width: 20%;
    min-width: 110px;
}

.desktopNav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desktopNav button, 
.desktopNav a {
    padding: 15px 10%;
    text-align: right;
    font-family: 'courier new', monospace;
}

/* .desktopNav a {
    font-size: 3rem;
} */

.desktopNav .home {
    margin: 35px 0;
}

.desktopNav button {
    width: 100%;
}

.mobileNav {
    height: auto;
    width: 100vw;
    padding: 15px 5%;
    font-size: 1.6rem;
    font-weight: 700;
    display: none;
}

.mobileNav ul {
    display: flex;
    justify-content: space-between;
}

.mobileNav button {
    padding: 5px 0;
}

.mobileNav a:focus {
    border: none;
    color: rgb(255, 175, 175);
}

/* main page */
main {
    width: 100%;
}

.wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.mainPage {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 37vh);
    padding-bottom: 30px;
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 1 / -1;
    height: 100%;
    border-bottom: 2px solid rgba(55, 55, 95, 0.6);
    padding: 2px 0;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.title h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
}


.category {
    border-right: 3px solid rgb(55, 55, 95);
    border-bottom: 3px solid rgb(55, 55, 95);
}

.category:hover, 
.category:focus {
    background: rgb(255, 160, 160, 0.3);
    outline: none;
}

.incomplete {
    cursor: auto;
}

.incomplete:hover, 
.incomplete:focus {
    background: none;
    color: inherit;
    text-decoration: none;
    outline: none;
}

nav .incomplete:focus {
    border: none;
}

/* sleep page one */
.sleepOne {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sleepOne ul{
    min-width: 330px;
    min-height: 350px;
    width: 75%;
    height: 50%;
    padding: 0 2%;
    margin: 30px 0;
    border-left: 5px solid rgb(255, 175, 175);
    border-bottom: 5px solid rgb(255, 175, 175);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.sleepOne li {
    width: 30px;
    background: rgb(55, 55, 95, 0.6);
}

.sleepOne h3 {
    margin: 5px;
}

.addSleep {
    color: rgb(255, 242, 235);
    padding: 20px 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: rgb(55, 55, 95);;
    border-radius: 15px;
    font-weight: 500;
}

.addSleep:hover, 
.addSleep:focus  {
    background: rgb(255, 175, 175);
    color: rgb(55, 55, 95);
    box-shadow: 6px -4px rgb(55, 55, 95);
    outline: none;
}


/* sleep page two */
.sleepTwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 63);
}

.sleepTwo form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    text-align: center;
}

.sleepTwo label {
    font-size: 2rem;
}

.sleepTwo input {
    width: 325px;
    margin: 15px;
    padding: 15px 0 15px 20px;
    font-size: 4rem;
    text-align: center;
    color: rgb(255, 175, 175);
    border: none;
    background: rgb(55, 55, 95);
    font-family: 'Montserrat', sans-serif;
}

.sleepTwo input:focus {
    background: rgb(255, 175, 175);
    color: rgb(55, 55, 95);
}

.sleepTwo button {
    width: 140px;
    color: rgb(55, 55, 95);
    padding: 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: rgb(255, 175, 175);
    border-radius: 15px;
    font-weight: 500;
}

.sleepTwo button:hover, 
.sleepTwo button:focus  {
    background: rgb(55, 55, 95);
    color: rgb(255, 175, 175);
    box-shadow: 6px -4px rgb(255, 175, 175);
    outline: none;
}

/* goals page one */
.goalsOne {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#goalsError {
    display: none;
    background: rgb(255, 175, 175);
    color: rgb(55, 55, 95);
    padding: 10px 10px;
}

.goalsOne form {
    display: flex;
    flex-direction: column;
}

.goalsOne li {
    text-align: left;
    list-style-type: square;
}

.strikethrough {
    text-decoration: line-through;
}


/* media queries */
@media (max-width: 768px) {
    .mainPage {
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 9vh repeat(4, 19vh);
    }
    .category {
        grid-column: 1 / -1;
    }
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
    .desktopNav {
        display: none;
    }
    .mobileNav {
        display: block;

    }
}