

// VARIABLES ------- //

// colours
$primaryColour: rgb(55, 55, 95);
$secondaryColour: rgb(255, 242, 235);
$accentColour: rgb(255, 175, 175);

$primaryText: rgb(30, 30, 63);
$primaryColourLight: rgb(79, 79, 79);


// fonts
$primaryFont: "Montserrat", "Verdana", sans-serif;
$secondaryFont: "courier new", "courier", monospace;


// MIXINS ------- //

// ie fontsize backup
@mixin fontSize($fontValue) {
    font-size: $fontValue * 1px;
    font-size: ($fontValue / 10) * 1 rem;
}

// flexbox //
@mixin flex($flexDirection, $xAxis, $yAxis) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $flexDirection;
	justify-content: $xAxis;
	align-items: $yAxis;
}