

/* global */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(253, 244, 239);
}

*::selection {
    background: $primaryColour;
    color: $secondaryColour;
}

li {
    list-style: none;
}

a, 
button {
    text-decoration: none;
    font-weight: 100;
    font-style: inherit;
    border: none;
    color: inherit;
    background: inherit;
    cursor: pointer;
    font-family: inherit;
}

body {
    height: 100vh;
    display: flex;
}
