/* goals page one */
.goalsOne {
    min-height: 100vh;
    @include flex(column, center, center);
    flex-wrap: nowrap;
    text-align: center;
    h2{
        margin: 20px 0;
    }
    h3 {
        width: 50px;
        height: 50px;
        background: $primaryColour;
        color: $accentColour;
        border-radius: 50%;
        margin: 15px 0 30px 0;
        padding: 7px;
        @include fontSize(30);
    }
    form {
        @include flex(column, null, center);
        flex-wrap: nowrap;
    }
    input {
        @include fontSize(18);
        padding-left: 0;
        font-family: $secondaryFont;
    }
    ul {
        padding: 30px 0;
    }
    li {
        text-align: left;
        line-height: 1.7;
        @include fontSize(16);
        padding: 10px 0 0 0; 
        cursor: pointer;
        color: $primaryText;
        border-bottom: 1px solid $primaryColour;
        @include flex(nul, space-between, null);
    }
    button[type="submit"] {
        width: 200px;
        color: $primaryColour;
        padding: 17px 20px;
        margin: 10px 0;
        @include fontSize(16);
        text-transform: uppercase;
        background: $accentColour;
        border-radius: 15px;
        font-weight: 500;
    }
}

#goalsError {
    display: none;
    background: $accentColour;
    color: $primaryColour;
    padding: 10px 10px;
}

.goalDeleteButton {
    color: $primaryColour;
    &:hover, 
    &:focus {
        color: rgb(253, 136, 136);
        outline: none;
    }
}

.completed {
    text-decoration: line-through;
}

