/* main page */
main {
    width: 100%;
}

.wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.mainPage {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 37vh);
    padding-bottom: 30px;
    height: 100%;
}

.title {
    @include flex(nul, space-between, flex-end);
    grid-column: 1 / -1;
    height: 100%;
    border-bottom: 2px solid rgba($primaryColour, 0.6);
    padding: 2px 0;
    h2 {
        text-transform: uppercase;
        font-weight: 400;
        @include fontSize(18);
    }
}

.category {
    border-right: 3px solid $primaryColour;
    border-bottom: 3px solid $primaryColour;
    &:hover, 
    &:focus {
        background: rgba(255, 160, 160, 0.3);
        outline: none;
    }
}

.incomplete {
    cursor: auto;
    opacity: 0.7;
    &:hover, 
    &:focus {
        background: none;
        color: inherit;
        text-decoration: none;
        outline: none;
    }
    &:focus {
        border: none;
    }
}