/* main page */
main {
    width: 100%;
    height: 100vh;
    // position: relative;
}

.mainPage {
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 37vh);
    padding-bottom: 30px;
}

.title {
    @include flex(nul, space-between, flex-end);
    grid-column: 1 / -1;
    height: 100%;
    border-bottom: 2px solid rgba($primaryColour, 0.6);
    padding: 2px 0;
    h2 {
        text-transform: uppercase;
        font-weight: 400;
        @include fontSize(18);
    }
}

.category {
    border-right: 3px solid $primaryColour;
    border-bottom: 3px solid $primaryColour;
    &:hover, 
    &:focus {
        background: rgba(255, 160, 160, 0.3);
        outline: none;
    }
}

.incomplete {
    cursor: auto;
    opacity: 0.7;
    &:hover, 
    &:focus {
        background: none;
        color: inherit;
        text-decoration: none;
        outline: none;
    }
}

nav .incomplete:focus {
    border: none;
}

.reset {
    position: absolute;
    top: 10px;
    right: 10px;
    @include flex (null, center, center);
    @include fontSize(20);
    color: $primaryColour;
    font-family: $secondaryFont;
    button {
        padding: 10px 15px;
        &:hover, 
        &:focus {
            outline: none;
            color: $accentColour;
        }
    }
}

.swal-modal {
    font-family: $primaryFont;
    background: $primaryColour;
    border-radius: 10px;
}

.swal-overlay {
    background: rgba($accentColour, 0.2);
}

.swal-title {
    color: $secondaryColour;
    font-family: $secondaryFont;
}

.swal-text {
    color: $secondaryColour;
        // font-family: $secondaryFont;
}

.swal-button {
    font-family: $secondaryFont;
    background: $secondaryColour;
    color: $primaryColour;
    border: 2px solid $secondaryColour;
    text-transform: uppercase;
    border: none;
    &:focus{
        background: $accentColour;
        color: $primaryColour;
    }
}

.swal-button--confirm {  
    background: $primaryText;
    color: $secondaryColour;
    border: 2px solid $secondaryColour;
}