

/* media queries */
@media (max-width: 768px) {
    .mainPage {
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 9vh repeat(4, 19vh);
    }
    .category {
        grid-column: 1 / -1;
    }
}

@media (max-width: 560px) {
    body {
        flex-direction: column;
    }
    .desktopNav {
        display: none;
    }
    .mobileNav {
        display: block;
    }
    .reset {
        top: 55px;
        right: 0;
    }
    main {
        height: 92vh;
    }
    .mainPage {
        height: 92.5vh;
        grid-template-rows: 9vh repeat(4, 15.5vh);
    }
}